body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth; 
}

p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.title_text{
    font-size: 40px;
    font-family: 'Inika';
    color: #499A18;
}

.p16{
    font-size: 16px;
}
.p20{
    font-size: 20px;
    color: #636060;
    font-family: 'Inter';
}

/*** container
-----------***/
.container{
    margin: 0 auto;
    max-width: 1222px;
}

/*** header
-----------***/
.header{
    margin: 0 auto;
    width: 100%;
    min-height: 134px;
    background-color: #EDF2EC;
    font-family: 'Inika';
}

.header_items{
    display: flex;
	justify-content: space-between;
	align-items: center;
    padding-top: 32px;
    color: #010201;
}

.nav_list {
    list-style: none;
}

.nav_item{
    display: inline-block;
}

.nav_link {
    text-decoration: none;
    color: #010201;
    transition: color 0.1s linear;
    margin-left: 43px;
}

.nav_link:hover{
    color: #E06733;
    font-weight: bold;
}

.burger{
    display: none;
}

@media (max-width: 1000px){
    .header{
        min-height: 114px;
    }
    .logo_item{
        margin-left: 45px;
    }
    .nav{
        margin-right: 50px;
    } 
}
@media (max-width: 550px){
    .header{
        min-height: 96px;
        position: relative;
    }
    .logo_item{
        margin-left: 20px;
    }
    .nav{
        opacity: 0;
        flex-direction: column;
        position: absolute;
        background-color: #EDF2EC;
        color: #1cc21c;
        right: 0px;
        top: 100%;
        width: 100%;
        text-align: center;
        margin-right: 0px;
        transition: all .3s;
    }

    .nav._open{
        display: flex;
        opacity: 1;
    }


    .nav_list {
        font-size: 25px;
    }

    .nav_item{
        display: block;
        padding: 7px 15px;
    }
    .nav_link {
        margin-left: 0px;
        color: #010201;
    }

    .burger{
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 13px 30px;
    }
    .burger_item{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #ea0d0d;
        font-size: 0px;
        color: transparent;

        position: relative;
    }
    .burger_item::before,
    .burger_item::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #ea0d0d;
        left: 0px;
        z-index: 1;
    }

    .burger_item::before {
        top: -8px;
    }    

    .burger_item::after {
        bottom: -8px;
    }

}

/*** main
-----------***/

.main{
    margin: 0 auto;
    width: 100%;
    font-family: 'Inter';
}

/*** welcome_section
-----------***/
.welcome_section{
    min-height: 532px;
    background-color: #EDF2EC;
}

.welcome{
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
}
.welcome_img{
    max-width: 50%;
}

.welcome_text{
    max-width: 45%;
    text-align: left;
    padding: 0px 0px 0px 51px;
}

.title_welcome{
    font-size: 45px;
    color: #717171;
}

.subtitle{
    padding: 42px 0;
    line-height: 1.65;
}

.button{
    border: 2px solid #E06733;
    text-transform: uppercase;
    padding: 11px 24px;
    border-radius: 11px;
    margin-top: 9px;

    transition: background 0.1s linear,
	color 0.1s linear;
}

.button:hover{
    background-color: #E06733;
    color: #ffffff;
}

@media (max-width: 1000px){
    .welcome_img{
        margin: -10px 50px 0px 0px;
    }
    .welcome_section{
        min-height: 420px;
    }
    .welcome{
        flex-direction: row-reverse;
    }
    .img_plant_welcome{
        width: 280px;
        height: 254px;
    }
    .title_welcome{
        font-size: 35px;
    }
    .subtitle{
        padding: 37px 0;
        line-height: 1.55;
    }
    .p20{
        font-size: 16px;
    }
    .button{
        margin-top: 0px;
    }
}
@media (max-width: 550px){
    .welcome_section{
        min-height: 300px;
    }
    .welcome_img{
        display: none;
    }
    .welcome{
        padding-top: 31px;
        flex-direction: column;
    }
    .welcome_text{
        max-width: 100%;
        padding: 0px 10px 0px 23px;
    }
    .title_welcome{
        font-size: 25px;
    }
    .subtitle{
        padding: 26px 0;
        line-height: 1.55;
        font-size: 16px;
    }
    .button{
        font-size: 10px;
        padding: 9px 16px;
    }
}

/*** about_section
-----------***/
.about_section{
    width: 100%;
    min-height: 666px;
}

.about{
    display: flex;
    justify-content: space-between;
    padding-top: 152px;
}

.about_text{
    max-width: 48%;
    text-align: left;
}

.subtitle_about{
    padding: 39px 0;
    line-height: 1.52;
}

.colortext{
    color: #E06733;
}

.about_img{
    max-width: 50%;
    text-align: right;
    margin-top: -69px;
}

@media (max-width: 1000px){
    .about_section{
        min-height: 783px;
    }
    .img_plant_about{
        width: 250px;
        height: 258px;
    }
    .about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0px;
    }
    
    .about_text{
        max-width: 100%;
        text-align: center;
    }

    .text_tablet{
        font-size: 35px;
        padding: 40px 173px 0px 173px;
    }

    .subtitle_about{
        font-size: 20px;
        padding: 51px 50px;
        line-height: 1.52;
        text-align: left;
    }
    .about_img{
        max-width: 100%;
        text-align: center;
        margin-top: 15px;
    }
}
@media (max-width: 550px){
    .about_section{
        min-height: 516px;
    }
    .about{
        padding-top: 30px;
    }
    .img_plant_about{
        width: 150px;
        height: 147px;
    }

    .text_tablet{
        font-size: 25px;
        padding: 0px 5px 0px 0px;
    }

    .subtitle_about{
        font-size: 15px;
        padding: 18px 25px;
        line-height: 1.65;
    }
    .about_img{
        margin-top: -16px;
    }
}

/*** service_section
-----------***/
.service_section{
    width: 100%;
    min-height: 1300px;
    background-color: #EDF2EC;
}

.service{
    padding-top: 33px;
}

.head_service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_text{
    max-width: 30%;
}

.service_buttons{
    max-width: 70%;
    padding: 3px 0px 0px 66px;
}

.button_service_block{
    border: 1px solid #E06733;
    width: 161px;
    height: 51px;
    /**padding: 12px 25px;**/
    margin-left: 34px;
    border-radius: 6px;

    transition: background 0.1s linear,
	color 0.1s linear;
}

.button_service_block:hover{
    background-color: #E06733;
    color: #ffffff;
}

.text_button_p20{
    font-size: 20px;
    color: #E06733;
    font-family: 'Inika';
}

.service_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 92px;
    padding-top: 79px;
}

.content_block{
    max-width: 27%;
    display: inline-block;
}

.content_img{
    width: 329px;
    height: 350px;
}

.content_text{
    margin-top: 5px;
    text-align: center;
}

.subtitle_content{
    font-size: 20px;
    color:#E06733;
    font-family: "Inter";
    font-weight: 700;
    margin-bottom: 10px;
}

@media (max-width: 1000px){
    .service_section{
        min-height: 1780px;
    }
    .service{
        padding-top: 0px;
    }
    .head_service{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .service_text{
        max-width: 100%;
    }
    .text_tablet_service{
        font-size: 35px;
        padding: 60px 412px 40px 50px;
    }
    .service_buttons{
        display: inline-flex;
        gap: 38px;
        max-width: 100%;
        padding: 5px 159px 40px 50px;
    }
    .button_service_block{
        margin-left: 0px;
    }
    .service_content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 56px;
        padding-top: 0px;
    }
    .content_block{
        max-width: 100%;
    }
    .content_img{
        width: 280px;
        height: 350px;
    }
    .text_service_content_tablet{
        padding-left: 5px;
        width: 95%;
    }
}   
@media (max-width: 550px){
    .service_section{
        min-height: 3150px;
    }
    .service{
        padding-top: 30px;
    }
    .text_tablet_service{
        font-size: 25px;
        font-weight: 400;
        padding: 0px 78px 35px 24px;
    }
    .service_buttons{
        flex-wrap: wrap;
        gap: 9px;
        padding: 4px 0px 0px 25px;
    }
    .button_service_block{
        font-size: 15px;
        width: 121px;
        height: 36px;
    }
    .service_content{
        row-gap: 53px;
        padding-top: 36px;
    }
}  

/*** prices_section
-----------***/
.prices_section{
    width: 100%;
    min-height: 558px;
}

.prices{
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    font-weight: 700;
}

.text_prices{
    font-family: "Inter";
    font-size: 40px;
}

.form_block{
    margin-top: 60px;
    max-width: 332px;
    min-height: 282px;
    border: 1px solid #E3E1D5;
    border-radius: 23px;
}

.form_items{
    padding-left: 41px;
}

.element_form{
    margin-top: 32px;
    width: 250px;
    height: 50px;
    background-color: #EDF2EC;
    border-radius: 20px;
}

.p20_form{
    font-size: 20px;
    font-family: "Inter";
    padding: 14px 40px;
}

.accord_btn{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #D9D9D9;
    text-align: center;
    margin: -35px 0px 0px 197px;
}

.arrow_btn{
    margin-bottom: 5px;
}

.text_btn_img_block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 40%;
    text-align: right;
}

.colortext_prices{
    color: #499A18;
}

.btn_prices{
    margin-top: 42px;
}

.img_prices{
    margin-top: 35px;
}

@media (max-width: 1000px){
    .prices_section{
        min-height: 585px;
    }
    .prices{
        display: flex;
        justify-content: space-between;
        padding-top: 0px;
    }
    .text_prices{
        font-family: "Inter";
        font-size: 35px;
        margin: 40px 0px 50px 65px;
    }

    .form_block{
        margin-left: 50px;
    }
    .form_items{
        padding-right: 41px;
    }

    .text_btn_img_block{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 100%;
        text-align: right;
        margin-top: 139px;
        margin-right: 50px;
    }
    .text_prices_tablet{
        font-family: "Inter";
        font-size: 25px;
        margin: 9px 0px 0px 0px;
    }
    .btn_prices{
        margin-top: 32px;
    }
    
    .img_prices{
        margin-top: 27px;
    }
} 
@media (max-width: 550px){
    .prices_section{
        min-height: 512px;
    }
    .prices{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .text_prices{
        font-family: "Inter";
        font-size: 25px;
        margin: -5px 0px 0px 0px;
        text-align: center;
    }

    .form_block{
        margin-top: 37px;
        max-width: 224px;
        min-height: 215px;
        margin-left: 78px;
        display: flex;
        justify-content: center;
    }

    .form_items{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
        gap: 14px;
    }

    .element_form{
        margin-top: 0px;
        width: 180px;
        height: 50px;
    }

    .p20_form{
        font-size: 15px;
        padding: 14px 30px;
    }

    .accord_btn{
        text-align: center;
        margin: -30px 0px 0px 124px;
    }

    .text_btn_img_block{
        align-items: center;
        margin-top: 41px;
        margin-right: 0px;
    }
    .text_prices_tablet{
        font-size: 20px;
        padding: 4px 76px 0px 76px;
        line-height: 1.6;
    }
    .btn_prices{
        margin-top: 23px;
    }
    
    .img_prices{
        display: none;
        margin-top: 27px;
    }
} 

/*** contact_section
-----------***/

.contact_section{
    width: 100%;
    min-height: 550px;
    background-color: #EDF2EC;
}

.contact{
    display: flex;
    gap: 114px;
}

.woman_contact{
    /*width: 33%;*/
    margin-top: 48px;
}

.contact_text_city{
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
}

.text_contact{
    /*width: 33%;*/
    text-align: center;
    margin-top: 52px;
}

.accordion_contact_btn{
    display: flex;
    justify-content: flex-end;
    /*width: 33%;*/
    margin-top: 139px;
}

.city_btn{
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: 0px 3px 8px 0px #AEA1A1;
}

.text_contact_btn{
    font-size: 20px;
    color: #717171;
    font-family: 'Inter';
    line-height: 1.2;
    letter-spacing: 5%;

    padding: 12px 0px 5px 20px;
}

.accord_city_btn{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #AEA1A1;
    text-align: center;
    margin: -25px 0px 0px 400px;
}

@media (max-width: 1000px){
    .contact_section{
        min-height: 739px;
    }
    .contact{
        display: flex;
        flex-direction: column-reverse;
        gap: 250px;
        margin-left: 20px;
    }
    .contact_text_city{
        display: block;
        flex-wrap: wrap;
        gap: 67px;
        margin-left: -20px;
    }
    
    .text_contact{
        text-align: center;
        margin-top: 40px;
    }
    .accordion_contact_btn{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .woman_contact{
        display: flex;
        margin-top: 0px;
        align-self: center;
    }
    .woman_img{
        width: 200px;
        height: 248px;
    }
}

@media (max-width: 550px){
    .contact_section{
        min-height: 445px;
    }
    .contact{
        padding-top: 30px;
        gap: 131px;
        margin-left: -2px;
    }
    .contact_text_city{
        margin-left: -2px;
    }
    
    .text_contact{font-size: 25px;
        margin-top: -4px;
    }
    .accordion_contact_btn{
        margin-top: 82px;
    }
    .city_btn{
        width: 300px;
        height: 50px;
    }
    .accord_city_btn{
        margin: -25px 0px 0px 264px;
    }
    .woman_img{
        width: 100px;
        height: 124px;
    }
}

/*** footer
-----------***/
.footer{
    width: 100%;
    min-height: 130px;
    color: #000000;
    font-size: 20px;
}

.footer_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}

.data_footer{
    /*display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;*/

    display: flex;
    gap: 25px;
}

.footer_text{
    margin-left: 180px;
}

.git{
    text-decoration: none;
    color: #000000;
}

.social_icons{
    display: flex;
    gap: 20px;
}

.social_list{
    display: flex;
    justify-content: flex-end;
}
.nav_item_footer {
    display: inline-block;
}
.nav_link_footer {
    text-decoration: none;
    color: #010201;
    transition: color 0.1s linear;
    margin-left: 43px;
}

@media (max-width: 1000px){
    .footer{
        min-height: 181px;
        font-family: 'Inter';
    }
    .footer_block{
        display: flex;
        flex-direction: column;
        margin-top: 34px;
        font-size: 20px;
    }
    .footer_text{
        margin-left: 0px;
        margin-top: 16px;
    }
    .social_list{
        margin-top: 25px;
        margin-left: -16px;
    }
    .nav_item_footer{
        margin-left: -23px;
    }
    .nav_link_footer{
        margin-left: 0px;
    }
}
@media (max-width: 550px){
    .footer{
        min-height: 146px;
    }
    .footer_block{
        margin-top: 23px;
    }
    .data_footer{
        gap: 21px;
    }
    .social_list{
        margin-top: 11px;
        margin-left: -58px;
    }
    .nav_item_footer{
        margin-left: 20px;
    }
    .nav_link_footer{
        margin-left: 0px;
    }
}
